// colors
$blue: #125B68;
$dark_blue: #425650;
$light_blue: #e7f7f2;
$light_green: #e7ffec;
$green: #02906b;
// $salmon: #e85f5f;
$salmon: #CD4242;
$link: $green;

// easing function
$quad: cubic-bezier(0.43, 0.02, 0.54, 0.98);
$fastInEaseOut: cubic-bezier(0.000, 0, .3, 1);

%focus--glow {
    outline-color: #888;
    outline-offset: 5px;
    outline-style: auto;
    outline-width: 3px;
}
