@import "vars.scss";
@import "main.scss";
@import "question.scss";
@import "result.scss";

header {
    background: #fff;
    margin: 0;
}

.hero {
    background: $light_blue;
    background: linear-gradient( $light_blue, darken($light_blue, 6));
    padding: 2.6em 0 2.6em;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

figure {
    margin: 0;
    padding: 0;
}

.ad__title {
    font-size: 2.4em;
    text-align: center;
    margin: 0 0 0.2em;
}

.ad__description {
    text-align: center;
}


.ad__link-container {
    text-align: center;
}

#question-container {
    position: relative;
    margin-bottom: 3.2em;
    padding: 3em 1em 0em;
    box-shadow: 0 6px 24px rgba(0,0,0,.15);
}

.overlay-link {
    position: absolute;
    z-index: 99;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.report-container {
    background: $light_blue;
    background: linear-gradient( #fcfffe, $light_blue );
    padding: 2.6em 0;
    margin: 0;
}

.results {
    box-shadow: 0 6px 24px rgba(0,0,0,.15);
    margin-bottom: 3.2em;
}

.question__text {
    width: 100%;
    display: block;
}


.footer {
    background: $dark_blue;
    padding: 0.8em;
    margin: 0;
    text-align: center;
    color: #ddd;
    font-size: 0.9em;
}
