@import "vars.scss";

form {
    position: relative;
}

#question-container {
    margin-top: 1.6em;
    padding: 3em 1em 0;
    min-height: 260px;
    background: #fff;
    box-shadow: 0px 0px 1px rgba(0,0,0,.2);
    overflow: hidden;
    transition: all .2s $quad;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
    text-align: center;
    animation: enter .5s $quad forwards;
}

.q-on-deck {
    opacity: 0;
}

legend {
    position: relative;
    text-align: center;
    font-size: 1.6em;
    line-height: 1.2;
    box-sizing: border-box; /* IE9-11 & Edge 12-13 */
    display: table; /* IE8-11 */
    max-width: 100%; /* Patch for IE9-11 & Edge 12-13 */
    white-space: normal; /* IE8-11 */
    margin-bottom: 0.6em;
}

.face {
    padding: 1.6em 2.8em;
    background: #fff;
    border: 4px solid #eee;
    border-radius: 50%;
    transition: all .125s $quad;
}

.exp {
    &:hover,
    &:focus {
        .face {
            border-color: #ccc;
        }
    }

    &:hover {
        cursor: pointer;
    }

    margin: 0 0 1.6em;

    @media (min-width: 450px) {
        display: inline-block;

        &:first-of-type {
            margin-right: 1em;
        }
    }
}

.exp input {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &:focus + .face {
        border-color: #ccc;
    }

    &:focus:hover + .face {
        border-color: #bbb;
    }

    &:checked + .face {
        border-color: $salmon;
    }

    &:focus:checked + .face {
        border-color: #425650;
    }
}

.btn {
    &.hidden {
        opacity: 0;
        height: 0;
        padding: 0;

        &:focus {
            padding: 0.8em 1.4em;
            height: auto;
            opacity: 1;
        }
    }
}

#progressbar {
    position: absolute;;
    border-top: 3px solid $green;
    font-size: 0.875em;
    white-space: nowrap;
    transition: all .4s $quad;
}

#progress__cqn {
    margin-left: 5px;
}

.message__title {
    color: $salmon;
}

.q-remove {
    animation: exit .2s $quad forwards;
}

@keyframes enter {
    0% {
        transform: translate3d(200px, 0, 0);
        opacity: 0;
    }

    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes exit {
    0% {
        transform: translate3d(0, 0, 0);
        opacity: 0.5;
    }

    100% {
        transform: translate3d(-200px, 0, 0);
        opacity: 0;
    }
}
