@import "vars.scss";

html {
    font: 16px/1.6 Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma, sans-serif;
    box-sizing: border-box;
}

body {
    background: $light_blue;
    padding: 20px;
    max-width: 28em;
    margin: 0 auto;
}

h1,h2,h3,h4,h5,h6 {
    line-height: 1.2;
    margin-bottom: 0.2em;
}

* + * {
    margin: 0 0 1.6em;
}


fieldset {
    border: none;
    margin: 0;
    padding: 3em 1em 0;
    background: #fff;
    text-align: center;
    box-shadow: 0px 0px 1px rgba(0,0,0,.2)
}

legend {
    text-align: center;
    font-size: 1.6em;
    position: relative;
    top: 1.6em;
    box-sizing: border-box; /* IE9-11 & Edge 12-13 */
    display: table; /* IE8-11 */
    max-width: 100%; /* Patch for IE9-11 & Edge 12-13 */
    white-space: normal; /* IE8-11 */
    margin-bottom: 0.6em;
}

.face {
    padding: 1.6em 2.8em;
    background: #fff;
    border: 4px solid #ddd;
    border-radius: 50%;
    transition: all .125s $fastInEaseOut;

    &:hover,
    &:focus {
        border-color: #bbb;
    }

    &:hover {
        cursor: pointer;
    }
}

.exp {
    display: inline-block;
    margin: 0 0 1em;

    &:first-of-type {
        margin-right: 1em;
    }
}

.exp input {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &:checked + .face {
        border-color: $salmon;
    }
}

button {
    margin: 0 auto;
    font-size: 1.2em;
    padding: 0.8em 1.4em;
    width: 100%;
    border: none;
    background: $salmon;
    color: #fff;
    border-radius: 3px;
    border-bottom: 3px solid darken($salmon, 10);
    cursor: pointer;
    transition: all .2s $fastInEaseOut;

    &:hover,
    &:focus {
        background: darken($salmon, 8);
    }
}

.progressbar {
    position: relative;
    top: 1.2em;
}
